<%- include("../includes/header.ejs", {title:"Route - View All"}); %>
        <h1>Route</h1>
        <a href="/route/add">Add New Route</a>

        <br/>

        <table border="1">
            <tr><th>Route Name</th><th>height</th><th>style</th><th>Gym Name</th><th>Action</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/route/?ROUTE_ID=<%= result[i].ROUTE_ID %>">  <%= result[i].gym_name %>: <%= result[i].route_name %> </a> </td>
                <td><%= result[i].height %></td>
                <td><%= result[i].style %></td>
                <td><a href="/gym/?GYM_ID=<%= result[i].GYM_ID %>"><%= result[i].gym_name %></a></td>
                <td>
                    <form action="/route/delete">
                        <input type="hidden" name="ROUTE_ID" id="ROUTE_ID" value="<%=result[i].ROUTE_ID%>"/>
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
        <a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>