<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/gym/all">Gyms - View All</a> <br />
    <a href="/">Routes - View All</a> <br />
    <a href="/">Climbers - View All</a><br />
    <a href="/about"> About - <%= title %></a>
<%- include("./includes/footer.ejs"); %>
